<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Dento - Dentist &amp; Medical HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Nha Khoa Tây Thạnh</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/favicon.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Thời gian mở cửa 8.00 - 20.00"><i class="fa fa-clock-o"></i> <span>Thời gian mở cửa 8.00 - 20.00</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="info.dento@gmail.com"><i class="fa fa-phone"></i> <span>Điện thoại liên hệ: 0969 949 928</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <!-- <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/logo.png' %}" alt=""></a> -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="http://www.nhakhoataythanh.com/img/logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <!-- <li><a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'home' %}">- Home</a></li>
                      <li><a href="{% url 'about' %}">- About Us</a></li>
                      <li><a href="{% url 'service' %}">- Service</a></li>
                      <li><a href="{% url 'pricing' %}">- Pricing</a></li>
                      <li><a href="{% url 'blog' %}">- Blog</a></li>
                      <li><a href="{% url 'blog_details' %}">- Blog Details</a></li>
                      <li><a href="{% url 'contact' %}">- Contact</a></li>
                      <li><a href="#">- Dropdown</a>
                        <ul class="dropdown">
                          <li><a href="#">- Dropdown Item</a></li>
                          <li><a href="#">- Dropdown Item</a>
                            <ul class="dropdown">
                              <li><a href="#">- Even Dropdown</a></li>
                              <li><a href="#">- Even Dropdown</a></li>
                              <li><a href="#">- Even Dropdown</a></li>
                              <li><a href="#">- Even Dropdown</a></li>
                            </ul>
                          </li>
                          <li><a href="#">- Dropdown Item</a></li>
                          <li><a href="#">- Dropdown Item</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> -->
                  <li><a href="{% url 'about' %}">Giới thiệu</a></li>
                  <li><a href="{% url 'service' %}">Dịch vụ</a></li>
                  <li><a href="{% url 'pricing' %}">BẢNG GIÁ ĐIỀU TRỊ</a></li>
                  <li><a href="#">Câu hỏi thường gặp</a>
                    <!-- <ul class="dropdown">
                      <li><a href="{% url 'blog' %}">- Blog</a></li>
                      <li><a href="{% url 'blog_details' %}">- Blog Details</a></li>
                    </ul> -->
                  </li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            <a href="{% url 'contact' %}" class="btn dento-btn booking-btn">Đặt lịch hẹn</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  {% block content %}
  {% endblock %}

  <!-- ***** Footer Area Start ***** -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="widget">
            <h5 class="widgetheading">Liên hệ</h5>
            <address>
              <strong>Nha Khoa Tây Thạnh</strong> 138 Tây Thạnh, Phường Tây Thạnh, Quận Tân Phú, TP.HCM</address>
            <p>
              <i class="icon-phone"></i>Điện thoại: (028) 6685 2846 <br>
              <i class="icon-phone"></i>Điện thoại di động: 0969 949 928<br>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.976901733888!2d106.62008421480115!3d10.813079392296675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be72508cc1b%3A0x8730c2ef7e0d6d4d!2zMTM4IFTDonkgVGjhuqFuaCwgVMOibiBQaMO6LCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmg!5e0!3m2!1sen!2s!4v1610796003157!5m2!1sen!2s" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    
        </div>
      </div>
    </div>
    <div id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright">
              <p>
                <span>© Nha Khoa Tây Thạnh </span>
              </p>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>